/******************************
= Fonts
******************************/

@font-face {
    font-family: 'Gothic';
    src: url('fonts/goth821c-webfont.eot');
    src: url('fonts/goth821c-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/goth821c-webfont.woff') format('woff'),
         url('fonts/goth821c-webfont.ttf') format('truetype'),
         url('fonts/goth821c-webfont.svg#gothic821_cn_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$font-header: 'Gothic';
$font-body: 'Raleway', Helvetica, Arial, sans-serif;

/******************************
= Colors
******************************/

$blue: #1d536f;
$blue-light: #1589b0;
$blue-bg: #c3effc;
$violet: #3c80bf;
$teal: #3ab2a6;
$cyan: #0dbdee;
$gray: #4c768c;
$gray-light: #d3d3d3;

/******************************
= Break Points
******************************/

@mixin breakpoint($point) {
	@if $point == tablet {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == desktop {
		@media (min-width: 992px) { @content; }
	}
	@else {
		@media (min-width: $point) { @content; }
	}
}

/******************************
= Retina
******************************/

@mixin retina{
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		@content;
	}
}

/******************************
= Button Icon
******************************/

$button-width: 150px;
@mixin button-icon($top, $right, $bottom, $left, $width, $center:""){

	@if $top == auto {
		top: auto;
	} @else if $top == 0 {
		top: 0px;
	} @else {
		top: ($top/$button-width)*100%;
	}

	@if $right == auto {
		right: auto;
	} @else if $right == 0 {
		right: 0px;
	} @else {
		right: ($right/$button-width)*100%;
	}

	@if $bottom == auto {
		bottom: auto;
	} @else if $bottom == 0 {
		bottom: 0px;
	} @else {
		bottom: ($bottom/$button-width)*100%;
	}

	@if $left == auto {
		left: auto;
	} @else if $left == 0 {
		left: 0px;
	} @else {
		left: ($left/$button-width)*100%;
	}

	width: ($width/$button-width)*100%;

	@if $center == center {
		margin: 0 auto;
	}
}

/******************************
= Button Color
******************************/

@mixin button-color($color) {
	color: $color;
	background: $color;
	border: none;
	&:hover{ color: #fff; background: $color; }
	&:before{ background: $color; }
}

/******************************
= Clearfix
******************************/

%clearfix{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}