.side-nav{
	padding-top: 1em;
	padding-bottom: 2em;
	
	li{
		margin-bottom: 0.5em;
	}

	a{
		display: block;
		padding: 0.25em 0.5em;
		background: $violet;
		border: solid 3px $violet;
		border-radius: 12px;
		color: #fff;
		font-family: $font-header;
		font-size: 1.8em;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
		@include transition(0.3s ease all);
	}

	.current_page_item a,
	a:hover{
		background: #fff;
		color: $violet;
	}
}

@include breakpoint(desktop) {
	.side-nav{
		padding-bottom: 4em;

		a{
			font-size: 2em;
		}
	}
}



.module{
	display: block;
	border: solid 3px $gray-light !important;
	border-radius: 12px !important;
	background: url('assets/img/module-link.jpg') 95% center no-repeat !important;
	padding: 1.25em 3em 1.25em 1.25em !important;
	@include transition(0.3s ease all);

	&:hover{
		border-color: $violet !important;
		background-position-x: 92% !important;
	}

	.module-title,.module-text{
		padding: 0 !important; 
		margin: 0 !important;
	}

	.module-title{
		color: $violet !important;
		font: bold 23px $font-body !important;
		padding-bottom: 0.5em !important;
	}

	.module-text{
		color: $blue !important;
		font: bold 12px $font-body !important;
	}
}