.stories-header{

	.page-title{
		padding-bottom: 0.25em;
	}
}

.stories-intro p{
	font:{
		size: 1.625em;
		weight: 300;
	}
	line-height: 1.4em;
	    padding-left: 10px;
    padding-right: 25px;

}

.stories-quotes{
	border-top: solid 6px $cyan;

}

.stories-quote{
	@extend %clearfix;
	border-bottom: solid 1px $cyan;
	padding: 2em 0 3.5em;
	margin-bottom: 1.25em;

	&:last-child{
		margin-bottom: 0;
	}

	p{
		font-size: 1.625em;
		line-height: 1.325em;
		
		
	}

	.stories-quote-cite{
		font-size: 1.5em;
		float: left;

		strong{
			display: block;
			padding-bottom: 0.25em;
			text-transform: uppercase;
			font:{
				size: 1.5em;
				weight: normal;
				family: $font-header;
			}
		}
	}

	.button{
		float: right;
		margin-top: 1.5em;
	}
}

h2.stories-tips-header{
	color: $cyan;
	font: normal 3em $font-header;
	text-transform: uppercase;
	padding-top: 1em; padding-bottom: 0.25em;

	@include breakpoint(tablet) {
		padding-top: 0;	
		margin-top: -0.25em;
	}
}

.stories-tip{
	padding-bottom: 1em;

	p{
		//line-height: 1.2em;
		line-height: 1.4em;
		font:{
			weight: bold;
			size: 1.125em;
		}
	}
}