nav(class="side-nav")
    ul
        li(class!="page_item page-item-1633 <?php if(is_page('providers/provider-resources/')){ echo 'current_page_item current_page_item';} ?>")
            a(href="http://802quits.org/providers/provider-resources/") Resources for You
        li(class!="page_item page-item-1631 <?php if(is_page('providers/resources-patient/')){ echo 'current_page_item current_page_item';} ?>")
            a(href="http://802quits.org/providers/resources-patient/") Resources for Your Patient
        li(class!="page_item page-item-1627 <?php if(is_page('providers/webinars-2/')){ echo 'current_page_item current_page_item';} ?>")
            a(href="http://802quits.org/providers/webinars/") Webinars
        li(class!="page_item page-item-1629 <?php if(is_page('providers/helpful-links/')){ echo 'current_page_item current_page_item';} ?>")
            a(href="http://802quits.org/providers/helpful-links/") Helpful Links
        li(class!="page_item page-item-2093 <?php if(is_page('providers/videos/')){ echo 'current_page_item current_page_item';} ?>")
            a(href="http://802quits.org/providers/videos/") Videos