- get_header(); 
main(class="col-lg-12")
	h1(class="page-title") 
		- post_type_archive_title(); 
		strong from around the 802
	div(class="stories-quotes")
		- if (have_posts()) : while (have_posts()) : the_post(); 
		blockquote(class="stories-quote aq")
			p != "<?php the_field('quote'); ?>"
			div(class="left")
				span(class="stories-quote-cite")
					strong
						- the_field('name'); 
					- the_field('location');  
		
		- endwhile; posts_nav_link('--','Previous','Next'); endif; 
	
- get_footer(); 