form(method="get" action!="<?php echo home_url( '/' ); ?>" class="site-search")
	input(type="text" id="search" name="s" class="field s")
	input(type="submit" id="submit" name="submit" alt="Submit" value="Submit")
